body {
  margin: 0;
  padding: 0;
  background-color: #55efc4;
  overflow-x: hidden;
  font-family: "Samsung Sans Regular" !important;
}

.box-form{
  background-color: #00b894;
  margin: 9% 30%;
  padding: 3% 1%;
  width: 40%;
  color: white;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.box-form hr{
  background-color: white;
}

.form-content{
  /* background-color: red; */
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.form-input{
  width: 45%;
  margin-bottom: 15px;
}
.form-input input{
  width: 100%;
  background-color: white;
  border: none;
  padding: 5px;
}

.form-input select{
  width: 100%;
  background-color: white;
  border: none;
  padding: 7px;
}

.form-submit{
  margin: 6% 38% 0% 38%;
}

.form-submit button{
  background-color: #2ecc71;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.form-submit button:hover{
  background-color: white;
  color: #2ecc71;
  border: white 1px solid;
  transition: 0.3s;
}